extends ./layouts/index.pug

block content
  h1 HELLO RUSSIAN!!!
  if user
    h2 #{user} 
  img(src="https://static.tildacdn.com/tild3835-3633-4231-b238-386230616238/405752922russia-flag.gif", alt="flag-rus")